/* globals.css */
/* @tailwind base;
@tailwind components; */
@tailwind utilities;
@import "tailwindcss";

.link.active {
  font-weight: bold;
  color: blue;
  /* or any other styles */
}

.max-width-groww-section {
  max-width: calc(50vw - 80px);
}